.logo-link {
  .logo {

    max-width: 30px;
    width: 100%;
    height: auto;
  }
  img {
    &:hover {
      filter: brightness(110%);
    }
    &:active {
      filter: brightness(120%);
    }
    &.brand-with-icon {
      max-width: 200px;
      width: 100%;
      height: auto;
    }
    &.brand {
      max-width: 80px;
      width: 80%;
      height: auto;
    }
  }
}
.nav-footer {
  a {
    max-width: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    background: black;
    border-radius: 10px;
    border: 1px solid #fff;
    img {
      width: 24px;
      height: auto;
    }
    span {
      text-align: center;
      font-size: 10px;
      strong {
        position: relative;
        bottom: 3px;
        font-size: 14px;
      }
    }
  }
}