nav {
 position: relative;
 display: flex;
 flex-wrap: nowrap;
 width: 240px;
 transition: .25s width;
 background: #fff;
 .burger {
  position: absolute;
  left: 100%;
  width:32px;
  height: 32px;
  cursor: pointer;
  border: none;
  background: transparent;
  z-index: 1;
  .icon {
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   width: 32px;
   height: 32px;
   transition: .25s opacity;
   &-close {
    opacity: 0;
   }
   &-open {
    opacity: 1;
   }
  }
 }
 &.closed {
  width: 80px;
  transition: .25s width;

  .burger {
   .icon {
    transition: .25s opacity;
    &-close {
     opacity: 1;
    }
    &-open {
     opacity: 0;
    }
   }
  }
 }
 .nav-content {
  position: fixed;
  font-size: 24px;

  ul {
   padding: 25px;
   li {
    opacity: 1;
    transition: .25s opacity;
   }
  }
 }

}