.profile {
  .user-info {
    &>div {
      width: 200px;
    }
  }
  .avatar {
    width: 128px;
    height: 128px;
    cursor: pointer;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
    }
  }
}