.alcohol {
  width: 32px; height: 32px;
  // background: url('./../../../../media/categories/css_sprites-min.png') -0 -0;
}

.sprite {
  background-image: url('./../../../../media/categories/categories.png');
  background-repeat: no-repeat;
  display: block;
}

.sprite-alcohol {
  width: 64px;
  height: 64px;
  background-position: -5px -5px;
}

.sprite-bakery {
  width: 64px;
  height: 64px;
  background-position: -79px -5px;
}

.sprite-canned {
  width: 64px;
  height: 64px;
  background-position: -153px -5px;
}

.sprite-cereals {
  width: 64px;
  height: 64px;
  background-position: -227px -5px;
}

.sprite-chemistry {
  width: 64px;
  height: 64px;
  background-position: -301px -5px;
}

.sprite-children {
  width: 64px;
  height: 64px;
  background-position: -5px -79px;
}

.sprite-clothes {
  width: 64px;
  height: 64px;
  background-position: -79px -79px;
}

.sprite-coffee {
  width: 64px;
  height: 64px;
  background-position: -153px -79px;
}

.sprite-drinks {
  width: 64px;
  height: 64px;
  background-position: -227px -79px;
}

.sprite-electronics {
  width: 64px;
  height: 64px;
  background-position: -301px -79px;
}

.sprite-fish {
  width: 64px;
  height: 64px;
  background-position: -5px -153px;
}

.sprite-frozen {
  width: 64px;
  height: 64px;
  background-position: -79px -153px;
}

.sprite-fruits {
  width: 64px;
  height: 64px;
  background-position: -153px -153px;
}

.sprite-github {
  width: 30px;
  height: 30px;
  background-position: -375px -5px;
}

.sprite-gmail {
  width: 30px;
  height: 30px;
  background-position: -375px -45px;
}

.sprite-house {
  width: 64px;
  height: 64px;
  background-position: -227px -153px;
}

.sprite-hygiene {
  width: 64px;
  height: 64px;
  background-position: -301px -153px;
}

.sprite-kitchen {
  width: 64px;
  height: 64px;
  background-position: -5px -227px;
}

.sprite-linens {
  width: 64px;
  height: 64px;
  background-position: -79px -227px;
}

.sprite-linkedin {
  width: 30px;
  height: 30px;
  background-position: -375px -85px;
}

.sprite-meat {
  width: 64px;
  height: 64px;
  background-position: -153px -227px;
}

.sprite-medicine {
  width: 64px;
  height: 64px;
  background-position: -227px -227px;
}

.sprite-milks {
  width: 64px;
  height: 64px;
  background-position: -301px -227px;
}

.sprite-oils {
  width: 64px;
  height: 64px;
  background-position: -5px -301px;
}

.sprite-other {
  width: 64px;
  height: 64px;
  background-position: -79px -301px;
}

.sprite-pets {
  width: 64px;
  height: 64px;
  background-position: -153px -301px;
}

.sprite-ready {
  width: 64px;
  height: 64px;
  background-position: -227px -301px;
}

.sprite-sauces {
  width: 64px;
  height: 64px;
  background-position: -301px -301px;
}

.sprite-seafood {
  width: 64px;
  height: 64px;
  background-position: -415px -5px;
}

.sprite-spices {
  width: 64px;
  height: 64px;
  background-position: -415px -79px;
}

.sprite-stackoverflow {
  width: 30px;
  height: 30px;
  background-position: -375px -153px;
}

.sprite-starter {
  width: 64px;
  height: 64px;
  background-position: -415px -153px;
}

.sprite-stationery {
  width: 64px;
  height: 64px;
  background-position: -375px -227px;
}

.sprite-sweets {
  width: 64px;
  height: 64px;
  background-position: -375px -301px;
}

.sprite-tools {
  width: 64px;
  height: 64px;
  background-position: -5px -375px;
}

.sprite-tumblr {
  width: 30px;
  height: 30px;
  background-position: -449px -227px;
}

.sprite-twitter {
  width: 30px;
  height: 30px;
  background-position: -449px -267px;
}

.sprite-unknown {
  width: 64px;
  height: 64px;
  background-position: -79px -375px;
}

.sprite-vegetables {
  width: 64px;
  height: 64px;
  background-position: -153px -375px;
}
