
.sprite {
  background-image: url('./../../../../media/categories/categories.png');
  background-repeat: no-repeat;
  transform: scale(0.65);
  display: block;
}

.sprite-alcohol {
  width: 64px;
  height: 64px;
  background-position: -64px -192px;
}

.sprite-bakery {
  width: 64px;
  height: 64px;
  background-position: -256px 0;
}

.sprite-canned {
  width: 64px;
  height: 64px;
  background-position: -64px -64px;
}

.sprite-cereals {
  width: 64px;
  height: 64px;
  background-position: -64px 0;
}

.sprite-chemistry {
  width: 64px;
  height: 64px;
  background-position: -128px 0;
}

.sprite-children {
  width: 64px;
  height: 64px;
  background-position: 0 0;
}

.sprite-clothes {
  width: 64px;
  height: 64px;
  background-position: -128px -64px;
}

.sprite-coffee {
  width: 64px;
  height: 64px;
  background-position: -192px -64px;
}

.sprite-drinks {
  width: 64px;
  height: 64px;
  background-position: -320px -64px;
}

.sprite-electronics {
  width: 64px;
  height: 64px;
  background-position: 0 -192px;
}

.sprite-fish {
  width: 64px;
  height: 64px;
  background-position: 0 -128px;
}

.sprite-frozen {
  width: 64px;
  height: 64px;
  background-position: -128px -128px;
}

.sprite-fruits {
  width: 64px;
  height: 64px;
  background-position: -192px -128px;
}

.sprite-house {
  width: 64px;
  height: 64px;
  background-position: -256px -128px;
}

.sprite-hygiene {
  width: 64px;
  height: 64px;
  background-position: -320px 0;
}

.sprite-kitchen {
  width: 64px;
  height: 64px;
  background-position: -320px -128px;
}

.sprite-meat {
  width: 64px;
  height: 64px;
  background-position: -128px -192px;
}

.sprite-medicine {
  width: 64px;
  height: 64px;
  background-position: -192px -192px;
}

.sprite-milks {
  width: 64px;
  height: 64px;
  background-position: -256px -64px;
}

.sprite-oils {
  width: 64px;
  height: 64px;
  background-position: -256px -192px;
}

.sprite-other {
  width: 64px;
  height: 64px;
  background-position: 0 -256px;
}

.sprite-pets {
  width: 64px;
  height: 64px;
  background-position: -64px -256px;
}

.sprite-ready {
  width: 64px;
  height: 64px;
  background-position: -64px -128px;
}

.sprite-sauces {
  width: 64px;
  height: 64px;
  background-position: -192px -256px;
}

.sprite-seafood {
  width: 64px;
  height: 64px;
  background-position: -256px -256px;
}

.sprite-spices {
  width: 64px;
  height: 64px;
  background-position: -128px -256px;
}

.sprite-starter {
  width: 64px;
  height: 64px;
  background-position: 0 -64px;
}

.sprite-stationery {
  width: 64px;
  height: 64px;
  background-position: -320px -192px;
}

.sprite-sweets {
  width: 64px;
  height: 64px;
  background-position: -320px -256px;
}

.sprite-tools {
  width: 64px;
  height: 64px;
  background-position: 0 -320px;
}

.sprite-vegetables {
  width: 64px;
  height: 64px;
  background-position: -64px -320px;
}
