.list-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  .list-header {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    &-controls {
      display: flex;
      justify-content: space-between;
      .extra-actions {
        width: 64px;
        min-width: 64px;
        margin: 0 10px;
      }
    }
  }
.flip {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 10px auto;
}
  .separator {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    height: 3px;
    background-color: #2d2d2d;
  }
  .progress-count {
    width: 15%;
  }
  .progress-line {
    width: 90%;
  }
  .list {
    overflow-y: auto;
    flex: 1;
  }
  .prices {
    display: flex;
    justify-content: space-around;
    & > div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .name-input {
    background: transparent;
    color: white;
    border: none;
    outline: none;
    &:disabled {
      background: transparent;
      color: white;
    }
    &:focus,
    &:focus-within{
      color: white;
      background: transparent;
      border-color: transparent;
      box-shadow: none;
      outline: none;
    }
  }
  .input-wrapper {
    .name-icon {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      right: 15px;
      pointer-events: none;
    }
    &.search {
      width: 64px;
      min-width: 64px;
      transition: .25s;
      margin: 0 15px;

      &:focus-within {
        width: 50%;
        transition: .25s;
      }
    }
    &:hover, &:focus-within {
      background: rgba(255, 255, 255, .15);
    }
  }
  .avatar-container {
    width: 64px;
    height: 64px;
    outline: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #acacac;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    img {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
  }
  .category-name {
    height: 18px;
    text-align: center;
    font-size: 10px;
  }
  .x {
    font-size: 10px;
  }
}