.homepage {
  .accordion {
    position: relative;
    &-button:focus {
      box-shadow: none;
    }
    .card {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .buttons {
        .edit, .remove {
          width: 36px;
          height: 36px;
          padding: 0 10px;
          margin: 0 5px;
        }
      }
    }
    &-header > button {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      &::after {
        position: absolute;
        right: 3%;
      }
    }
  }

}