.homepage {
  .accordion {
    position: relative;
    .edit, .remove {
      position: absolute;
      top: 8px;
      z-index: 5;
    }
    .edit {
      right: 128px;
    }
    .remove {
      right: 64px;
    }
  }
}