.content {
  .lists {
    display: flex;
    flex-direction: column;
    align-items: center;
    .card {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .progress-count {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
      }
      .buttons {
        .avatars-btn {
          height: 24px;
          border: none;
        }
        .avatars {
          position: relative;
          display: flex;
          align-items: center;
          padding: 0;
          border: none;
          .avatar-container {
            margin-left: -0.5em;
            &:first-child {
              margin-left: 0;
            }
          }
          .user-avatar {
            width: 24px;
            height: 24px;
            line-height: initial;
            text-align: center;
            border-radius: 100%;
            transform: scale(.85);
      }
    }
  }
}
&-header > button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &::after {
    position: absolute;
    right: 3%;
  }
}
}

}
.share-modal {
  margin: auto;
  .user-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    font-size: 12px;
    border-radius: 50%;
    overflow: hidden;
  }
  img {
    width: 28px;
    height: auto;
  }
}