
body {
  padding: 0;
  margin: 0;
  height: 100%;
}
#root {
  display: flex;
  min-height: 100vh;
}
.content {
  overflow: auto;
  padding: 25px 20px;
  width: 100%;
  background: #fff;
  &.dark {
    background: #000;
    span, div, h1, h2,h3, a {
      color: #fff;
    }
    .accordion {
      &-button:not(.collapsed) {
        background-color: #2d2d2d;
      }
      &-button.collapsed {
        background-color: #2d2d2d;

      }
      &-body {
        background-color: black;
      }
    }
  }
}
nav {
  background: #fff;

  &.dark {
    background: #000;
    span, div, h1, a {
      color: #fff;
    }
  }
}
a {
  &:focus, &:hover, &:visited, &:link, &:active {
    text-decoration: none;
    color: inherit;
  }
}
.modal-fixed-height {
  max-height: 70vh;
  overflow: auto;
}