body {
  height: 100vh;
}
#root {
  height: 100%;
}
.popup {
  position: fixed;
  left: 50%;
  width: auto;
  top: 30%;
  z-index: 999;
  animation: 2.5s forwards popup linear;
}
.btn.opacity-0-disabled:disabled {
  opacity: 0;
}
.modal-footer.empty-footer {
  height: 5px;
  border-top: none;
  padding: 0;
}
.modal {
 &-dialog {
   .modal-content {
     background-color: transparent;
   }
   .btn-close {
     position: absolute;
     right: 25px;
   }
   .sort-btn {
     width: 100%;
     max-width: 150px;
   }
   &-loader {
     background: rgba(0, 0, 0, 0.1);
   }
   input::-webkit-outer-spin-button,
   input::-webkit-inner-spin-button {
     -webkit-appearance: none;
     margin: 0;
   }

   input[type=number] {
     -moz-appearance: textfield;
     width: 40px;
     text-align: center;
   }
 }
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  cursor: pointer;
}
.feedback-space {
  min-height: 1.3em;
  .invalid-feedback  {
    display: block;
  }
}
::-webkit-scrollbar {
  width: 10px
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

@keyframes popup {
  0% {
    opacity: 0;
    transform: translateY(0) translateX(-50%);
  }
  5% {

    opacity: 1;
    transform: translateY(50px) translateX(-50%);
  }
  95% {

    opacity: 1;
    transform: translateY(50px) translateX(-50%);
  }
  100% {

    opacity: 0;
    transform: translateY(0) translateX(-50%);
  }
}